:root {
    --dark-pink: #fe84b9;
    --light-pink:  #feb7d5;
    --baby-blue: rgb(180, 236, 255);
    --yellow: rgb(253, 253, 202);
}

* {
    background: var(--light-pink);
}

@keyframes sprinkleFall {
    0% {
      transform: translateY(-100%);
      opacity: 1;
    }
    100% {
      transform: translateY(100vh);
      opacity: 0;
    }
}

.sprinkle-jar {
    position: relative;
    background: none;
}
  
.animate-sprinkles {
    animation: sprinkleFall 7s ease forwards;
    position: absolute;
    background: none;
    z-index: 1;
}

.rot-45 {
    transform: rotate(45deg);
}
  
.rot-neg-35 {
    transform: rotate(-35deg);
}

.rot-10 {
    transform: rotate(10deg);
}
  
.rot-80 {
    transform: rotate(80deg);
}

.sprinkle {
    width: 30px;
    height: 10px;
    border-radius: 35%;
}

.sprinkle-pink {
    background-color: #ff00ea;
}

.sprinkle-yellow {
    background-color: #d4ff00;
}

.sprinkle-green {
    background-color: #0dff00;
}

.sprinkle-orange {
    background-color: #ff9100;
}

.sprinkle-white {
    background-color: #fdfbfd;
}

.sprinkle-purple {
    background-color: #ae00ff;
}

html {
    scroll-behavior: smooth;
}

.donut-cursor {
    cursor: url('./doughnut-28px.png'), default;
}

.burger-cursor {
    cursor: url('./hamburger-28px.png'), default;
}

.pizza-cursor {
    cursor: url('./pizza-emoji-28px.png'), default;
}

.fries-cursor {
    cursor: url('./french-fries-28.png'), default;
}

.wand-cursor {
    cursor: url('./magic-wand-just-beyond-4.gif'), default;
}

.spider-cursor {
    cursor: url('./ghost-spider.png'), default;
}

.nav li:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.name {
    text-shadow: 2px 2px 4px rgba(255,255,255,0.9)
}

.name:hover {
    text-shadow: 2px 2px 4px rgba(247, 16, 147, 0.9);
    transition: text-shadow 0.3s ease-in-out;
}

.flip-on-hover {
    display: inline-block;
    transition: transform 0.7s ease;
}
  
.flip-on-hover:hover {
    transform: rotateX(360deg);
}