* {
    background: #efefff;
}

/* @keyframes sprinkleAnimation {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(100vh);
      opacity: 0;
    }
} */

@keyframes sprinkleFall {
    0% {
      transform: translateY(-100%);
      opacity: 1;
    }
    100% {
      transform: translateY(100vh);
      opacity: 0;
    }
}

.sprinkle-jar {
    position: relative;
    background: none;
}
  
.animate-sprinkles {
    animation: sprinkleFall 7s ease forwards;
    position: absolute;
    background: none;
    z-index: 1;
}

.sprinkle-pink {
    width: 30px; /* Adjust the width to your preference */
    height: 10px; /* Adjust the height to create an oval shape */
    background-color: #ff00ea; /* Color of the sprinkle */
    border-radius: 35%;
    margin: 5px; /* Add spacing between the sprinkles */
    transform: rotate(-45deg);
}

.sprinkle-yellow {
    width: 30px; /* Adjust the width to your preference */
    height: 10px; /* Adjust the height to create an oval shape */
    background-color: #d4ff00; /* Color of the sprinkle */
    border-radius: 35%;
    margin: 5px; /* Add spacing between the sprinkles */
    transform: rotate(45deg);
}

.sprinkle-green {
    width: 30px; /* Adjust the width to your preference */
    height: 10px; /* Adjust the height to create an oval shape */
    background-color: #0dff00; /* Color of the sprinkle */
    border-radius: 35%;
    margin: 5px; /* Add spacing between the sprinkles */
    transform: rotate(-45deg);
}

.sprinkle-orange {
    width: 30px; /* Adjust the width to your preference */
    height: 10px; /* Adjust the height to create an oval shape */
    background-color: #ff9900; /* Color of the sprinkle */
    border-radius: 35%;
    margin: 5px; /* Add spacing between the sprinkles */
    transform: rotate(45deg);
}

.sprinkle-white {
    width: 30px; /* Adjust the width to your preference */
    height: 10px; /* Adjust the height to create an oval shape */
    background-color: #fdfbfd; /* Color of the sprinkle */
    border-radius: 35%;
    margin: 5px; /* Add spacing between the sprinkles */
    transform: rotate(-45deg);
}

.sprinkle-purple {
    width: 30px; /* Adjust the width to your preference */
    height: 10px; /* Adjust the height to create an oval shape */
    background-color: #ae00ff; /* Color of the sprinkle */
    border-radius: 35%;
    margin: 5px; /* Add spacing between the sprinkles */
    transform: rotate(45deg);
}
  
  
  